<br />
<form [formGroup]="form" class="needs-validation" novalidate>
  <div class="container">
    <h1 class="title">Meu cadastro</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Nome <span class="text-danger">*</span></label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            formControlName="name"
            [ngClass]="applyCssFeedback('name')"
            aria-describedby="name-help"
            required
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'name'"
            [errorMsg]="[requireddMsg, onlyAlphaMsg, 'No mínimo 03 caracteres']"
            [validators]="['required', 'onlyAlpha', 'minLength']"
          ></app-error-msg>

          <app-error-msg
            class="invalid-feedback"
            *ngIf="form.get('name').hasError('pattern')"
            [errorMsg]="onlyAlphaMsg"
          ></app-error-msg>
        </div>
        <!-- fim form group nome -->
      </div>
      <!-- fim sm-6 nome -->
      <div class="col-sm-6">
        <div class="form-group">
          <label for="lastName"
            >Sobre nome <span class="text-danger">*</span></label
          >
          <input
            type="text"
            name="lastName"
            id="lastName"
            formControlName="lastName"
            class="form-control"
            aria-describedby="lastName-help"
            required
            [ngClass]="applyCssFeedback('lastName')"
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'lastName'"
            [errorMsg]="[requireddMsg, onlyAlphaMsg, 'No mínimo 03 caracteres']"
            [validators]="['required', 'onlyAlpha', 'minLength']"
          ></app-error-msg>
        </div>
        <!-- fim form group sobre nome sobre nome -->
      </div>
      <!-- fim sm-6 sobre nome -->
    </div>
    <!-- fim row nome e sobrenome -->
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="birthDay"
            >Data de nascimento <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            name="birthDay"
            id="birthDay"
            formControlName="birthDay"
            class="form-control"
            aria-describedby="birthDay-help"
            required
            [ngClass]="applyCssFeedback('birthDay')"
            [value]="form.get('birthDay').value | dateMask"
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'birthDay'"
            [errorMsg]="[
              requireddMsg,
              'Informe uma data de nascimento válida por favor'
            ]"
            [validators]="['required', 'dateMaxValue']"
          ></app-error-msg>
        </div>
        <!-- form group birthday -->
      </div>
      <!-- col-sm-6 birthday -->

      <div class="col-sm-6">
        <div class="form-group">
          <label for="cpf">Cpf <span class="text-danger">*</span></label>
          <input
            type="text"
            name="cpf"
            id="cpf"
            formControlName="cpf"
            class="form-control"
            aria-describedby="cpf-help"
            required
            [ngClass]="applyCssFeedback('cpf')"
            [value]="form.get('cpf').value | cpfMask"
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'cpf'"
            [errorMsg]="[
              requireddMsg,
              'Apenas números',
              'No mínimo 11 caracteres',
              'No máximo 11 caracteres'
            ]"
            [validators]="['required', 'onlyNumbers', 'minLength', 'maxLength']"
          ></app-error-msg>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="fone">Telefone <span class="text-danger">*</span></label>
          <small></small>
          <input
            type="text"
            name="fone"
            id="fone"
            aria-describedby="fone-help"
            formControlName="fone"
            required
            class="form-control"
            [ngClass]="applyCssFeedback('fone')"
            [value]="form.get('fone').value | foneMask"
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'fone'"
            [errorMsg]="[
              requireddMsg,
              'No mínimo 11 caracteres',
              'No máximo 11 caracteres'
            ]"
            [validators]="['required', 'minLength', 'maxLength']"
          ></app-error-msg>
        </div>
        <!--form group fone-->
      </div>
      <!--col-sm-6 fona fone-->
      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">E-mail <span class="text-danger">*</span></label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            formControlName="email"
            [ngClass]="applyCssFeedback('email')"
            aria-describedby="email-help"
            required
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'email'"
            [errorMsg]="[
              requireddMsg,
              onlyAlphaMsg,
              'No mínimo 07 caracteres',
              'Informe um e-mail válido'
            ]"
            [validators]="['required', 'onlyAlpha', 'minLength', 'mailFormat']"
          ></app-error-msg>
        </div>
        <!--form group e-mail -->
      </div>
      <!--sm-6 fone-->
    </div>
    <!--row fone e email-->
    <br />

    <h1>Endereço</h1>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="cep">Cep <span class="text-danger">*</span></label>
          <input
            type="text"
            name="cep"
            id="cep"
            class="form-control"
            formControlName="cep"
            [ngClass]="applyCssFeedback('cep')"
            aria-describedby="cep-help"
            required
            [value]="form.get('cep').value | cepMask"
            (blur)="setAddress()"
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'cep'"
            [errorMsg]="[
              requireddMsg,
              onlyNumbrsMsg,
              'No mínimo 08 caracteres',
              'No máximo 8 caracteres',
              'Cep inválido'
            ]"
            [validators]="['required', 'onlyNumbers', 'minLength', 'maxLength', 'cepValidator']"
          ></app-error-msg>


          <div class="text-info" *ngIf="form.get('cep').status  === 'PENDING'">
            <small><i>Buscando....</i></small>
          </div>
          
        </div>
      </div>
    </div>
    <!-- cep -->
    <hr />

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="lorgadouro"
            >Lorgadouro <span class="text-danger">*</span></label
          >
          <input
            type="text"
            name="lorgadouro"
            id="lorgadouro"
            class="form-control"
            formControlName="lorgadouro"
            [ngClass]="applyCssFeedback('lorgadouro')"
            aria-describedby="lorgadouro-help"
            required
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'lorgadouro'"
            [errorMsg]="[requireddMsg, onlyAlphaMsg, 'No mínimo 03 caracteres']"
            [validators]="['required', 'onlyAlpha', 'minLength']"
          ></app-error-msg>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="bairro">Bairro <span class="text-danger">*</span></label>
          <input
            type="text"
            name="bairro"
            id="bairro"
            class="form-control"
            formControlName="bairro"
            [ngClass]="applyCssFeedback('bairro')"
            aria-describedby="bairro-help"
            required
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'bairro'"
            [errorMsg]="[requireddMsg, onlyAlphaMsg, 'No mínimo 03 caracteres']"
            [validators]="['required', 'onlyAlpha', 'minLength']"
          ></app-error-msg>
        </div>
      </div>
    </div>
    <!-- row lourgadoouro e bairro -->

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="numero">Número <span class="text-danger">*</span></label>
          <small></small>
          <input
            type="text"
            name="numero"
            id="numero"
            aria-describedby="numero-help"
            formControlName="numero"
            required
            class="form-control"
            [ngClass]="applyCssFeedback('numero')"
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'numero'"
            [errorMsg]="[requireddMsg, onlyNumbrsMsg]"
            [validators]="['required', 'onlyNumbers']"
          ></app-error-msg>
        </div>
        <!--form group numero-->
      </div>
      <!-- sm-6 numero -->

      <div class="col-sm-6">
        <div class="form-group">
          <label for="complemento"
            >Complemento <span class="text-danger">*</span></label
          >
          <small></small>
          <input
            type="text"
            name="complemento"
            id="complemento"
            aria-describedby="complemento-help"
            formControlName="complemento"
            required
            class="form-control"
            [ngClass]="applyCssFeedback('complemento')"
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'complemento'"
            [errorMsg]="[requireddMsg, onlyNumbrsMsg]"
            [validators]="['required', 'onlyNumbers']"
          ></app-error-msg>
        </div>
      </div>
    </div>
    <!-- numero e complemento -->

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="cidade">Cidade <span class="text-danger">*</span></label>
          <input
            type="text"
            name="cidade"
            id="cidade"
            class="form-control"
            formControlName="cidade"
            [ngClass]="applyCssFeedback('cidade')"
            aria-describedby="cidade-help"
            required
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'cidade'"
            [errorMsg]="[requireddMsg, onlyAlphaMsg, 'No mínimo 03 caracteres']"
            [validators]="['required', 'onlyAlpha', 'minLength']"
          ></app-error-msg>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="estado">Estado <span class="text-danger">*</span></label>
          <input
            type="text"
            name="estado"
            id="estado"
            class="form-control"
            formControlName="estado"
            [ngClass]="applyCssFeedback('estado')"
            aria-describedby="estado-help"
            required
            [value]="form.get('estado').value | estadoMask"
          />
          <app-error-msg
            class="invalid-feedback"
            [form]="form"
            [control]="'estado'"
            [errorMsg]="[requireddMsg, onlyAlphaMsg, 'No mínimo 03 caracteres']"
            [validators]="['required', 'onlyAlpha', 'minLength']"
          ></app-error-msg>
        </div>
      </div>
    </div>
    <!-- row cidade estado -->
<!-- [disabled]="!form.valid" -->
    <br /><br /><br />

    <div *ngIf="!!errrosList.length" class="row">
      <div class="col-12">
        <div class="alert alert-danger text-center" role="alert">
          <strong>
            Houveram erros.
          </strong> 
          <br>
          <small><i>Por favor revise os campos:</i></small>
          <br><hr>
          <span *ngFor="let item of errrosList">
            {{ item.control }},
          </span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <button
          class="btn btn-success btn-block"
          type="submit"
          (click)="onSubmit()"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</form>

<br /><br />
